{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "modules": true
    }
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base"
  ],
  "rules": {
    "indent": ["error", 4],
    "no-console": 0,
    "arrow-body-style": "warn",
    "class-methods-use-this": "warn",
    "import/prefer-default-export": "warn"
  },
  "globals": {
    "fetch": true
  }
}
